
body{
    background:#0d0907;
    color:white;
}

.contact-container{

    width:90%;
    margin:50px auto;

    display:grid;

    grid-template-columns:1.2fr 1fr;

    gap:30px;

}

.left,
.right{

    background:#1b1410;

    border:1px solid #3c2b17;

    border-radius:18px;

    padding:30px;

}

h1{

    font-size:42px;

    margin-bottom:10px;

}

.underline{

    width:60px;

    height:3px;

    background:#d9a441;

    margin-bottom:30px;

}

.info-card{

    display:flex;

    align-items:center;

    gap:20px;

    padding:20px;

    border:1px solid #3e2d1a;

    border-radius:15px;

    margin-bottom:18px;

    transition:.3s;

}

.info-card:hover{

    transform:translateY(-5px);

    border-color:#d9a441;

}



.info-card h4{

    color:#d9a441;

    margin-bottom:8px;

    letter-spacing:1px;

}

.info-card p{

    color:#d8d8d8;

    line-height:25px;

}

.map{

    margin-top:25px;

}

.map iframe{

    width:100%;

    height:250px;

    border:none;

    border-radius:15px;

}

.visit{

    margin-top:25px;

    background:url("https://images.unsplash.com/photo-1617038220319-276d3cfab638?auto=format&fit=crop&w=1200&q=80");

    background-size:cover;

    background-position:center;

    height:220px;

    border-radius:15px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    position:relative;

}

.visit::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.55);

    border-radius:15px;

}

.visit h2,
.visit p,
.visit a{

    position:relative;

}

.visit h2{

    margin-bottom:15px;

}

.visit p{

    margin-bottom:20px;

}

.visit a{

    text-decoration:none;

    color:#d9a441;

    font-weight:bold;

}

form{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.row{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:15px;

}

input,
textarea{

    width:100%;

    padding:18px;

    border:none;

    border-radius:10px;

    background:#261d17;

    color:white;

    outline:none;

    border:1px solid #3e2d1a;

}

input:focus,
textarea:focus{

    border-color:#d9a441;

}

textarea{

    resize:none;

}

label{

    display:flex;

    align-items:center;

    gap:10px;

    color:#ccc;

}

button{

    background:#d9a441;

    color:black;

    padding:18px;

    border:none;

    border-radius:10px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#f3c05d;

}

@media(max-width:900px){

.contact-container{

grid-template-columns:1fr;

}

.row{

grid-template-columns:1fr;

}

h1{

font-size:32px;

}

}